
.div-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.campo-cadastro {
    background-color: var(--gray-line);
    border: 0;
    width: 40rem;
    height: 3rem;
    border-radius: 10px;
}

.campo-cadastro::placeholder {
    padding-left: 1rem;
}

.campo-cadastro-invalido {
    background-color: var(--gray-line);
    border: 0.1px;
    border-style: solid;
    border-color: red;
    width: 40rem;
    height: 4rem;
    border-radius: 10px;
}

.campo-cadastro-invalido::placeholder {
    padding-left: 1rem;
}

.p-nome-campo {
    margin-top: 1rem;
    font-size: 24;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--gray-line);
}

.botao-prosseguir {
    margin-top: 2rem;
    background-color: var(--purple);
    color: var(--gray-line);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24;
    font-weight: normal;
    width: 14.3125rem;
    height: 3.5rem;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
}






/* Tela de cadastro finalizado */

.imagem-verificado {
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.h1-finalizar-cadastro {
    text-align: center;
    color: var(--gray-line);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.3rem;
    font-weight: normal;
}

.h2-finalizar-cadastro {
    text-align: center;
    color: var(--gray-line);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 1rem;
}

.p-link {
    text-align: center;
    color: var(--gray-line);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0.5rem;
}

.div-container2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}