
.div-header {
    width: 100%;
    height: 45rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 70%, #121212),
    url('../public/img/breaking\ bad\ wallpaper.jpg');
    background-size: 100% ;
    background-repeat: no-repeat;
}

.logo-escrito {
    width: 7rem;
    float: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
    position: absolute;
}

.div-opcoes-header {
    position: absolute;
    padding-top: 1.7rem;
}

.a-opcoes-header {
    text-decoration: none;
}

.p-opcoes-header {
    width: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--gray-line);
    padding-top: 2rem;
    padding-left: 12rem;
    display: inline;
    cursor: pointer;
}

.p-opcoes-header2 {
    width: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--gray-line);
    padding-top: 2rem;
    padding-left: 1rem;
    display: inline;
    cursor: pointer;
}

.icon-header {
    margin-top: 1.5rem;
    margin-right: 1.1rem;
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    cursor: pointer;
}

.search-input {
    float: right;
    height: 2rem;
    width: 10rem;
    margin-top: 1.8rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 0;
    padding-left: 1rem;
}

/* wallpaper de serie ativa */

.informacoes-titulo-header {
    padding-top: 22rem;
    padding-left: 7rem;
}

.nome-titulo-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
}

.sinopse-titulo-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--white);
    width: 30rem;
}

.botao-assistir-header {
    color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--white);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 1rem;
}

.botao-minha-lista-header {
    background-color: rgba(0, 0, 0, 0.158);
    border: 1;
    border-style: solid;
    border-color: white;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    height: 2.8rem;
    width: 2.8rem;
    cursor: pointer;
}

/*.div-active-wallpaper {
    width: 100%;
    height: 10rem;
    display: block;
    position: absolute;
    
    
    background-image: url("../public/img/breaking\ bad\ wallpaper.jpg");
}

.imagem-active-wallpaper {
    height: 100%;
    
}*/

/* carousel */
.div-container-slick {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
}

.carousel {
    width: 90%;
    padding-top: 2rem;
    min-height: 10rem;
    max-height: 15rem;
    margin: 0 auto;
    
}

.slick-slide {
    width: 15.18rem;
    height: 10rem;
    margin-left: 0.2rem;
    background-color: transparent;
    position: relative;
}

.slick-slide:hover {
    transform: scaleX(1.03);
}

.imagem-carousel {
    width: 100%;
    height: 10rem;
}

.imagem-carousel:hover {
    cursor: pointer;
}

.titulo-carousel{
    color: var(--gray-line);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 0.8rem;
    padding-left: 2rem;
}

.titulo-serie {
    position: absolute;
    color: white;
    text-align: center;
    background-color: transparent;
}

/* barra de infos em cada slide */
.div-infos-slide {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    display: flex;
}

.div-infos-slide-ativa {
    width: 100%;
    height: 3rem;
    background-color: black;
    display: flex;
}

.play-button {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.6rem;
    margin-top: 0.35rem;
    cursor: pointer;
}

.h1-titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--gray-line);
    font-size: 1rem;
    position: absolute;
    padding-left: 3.5rem;
    padding-top: 0.7;
}

.p-ano-lancamento {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--gray-line);
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

.p-genero1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--gray-line);
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

/* minha lista */

.h1-card-minha-lista {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--gray-line);
}

.add-icon-minha-lista {
    width: 40%;
    height: 40%;
    align-self: center;
    margin-left: 0.4rem;
}

.button-add-icon-minha-lista {
    align-items: center;
    align-content: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 0.158);
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 100%;
}

/* modal */

.modal-content {
    background-color: var(--light-dark);
    width: 38rem;
    height: 200rem;
}

.modal-header {
    height: 20rem;
    width: 100%;
    border: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.103) 70%, #302C35),
    url('../public/img/breaking\ bad\ wallpaper.jpg');
    background-size: 100%;
}

.modal-footer {
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 50rem;
}

.close {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.158);
    opacity: 1;
}

.botao-assistir {
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15rem;
    width: 11rem;
    height: 3.5rem;
    position: absolute;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.botao-redondo {
    background-color: rgba(0, 0, 0, 0.158);
    border: 1;
    border-style: solid;
    border-color: white;
    position: absolute;
    border-radius: 100%;
    margin-top: 15rem;
    margin-left: 12rem;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

.div-modal-infos {
    height: 3rem;
}

.div-sinopse {
    display: inline;
    position: absolute;
    width: 23rem;
    height: 10rem;
}

.p-modal-informacao1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.1rem;
    position: relative;
    float: left;
    padding-top: 0.2rem;
    padding-left: 0.8rem;
}

.h1-sinopse {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: justify;
    font-size: 1.1rem;
    position: relative;
    float: left;
    padding-left: 0.7rem;
    
}

.imagem-classificacao {
    position: relative;
    float: left;
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
    border-radius: 5px;
}

.div-right {
    position: relative;
    float: right;
    width: 8.125rem;
    height: 10rem;
}

.div-elenco {
    position: relative;
    height: 2rem;
    padding-bottom: 20rem;
    width: 10rem;
    float: right;
}

.h2-titulo-infos {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: rgb(20, 20, 20);
    height: 1rem;
}

.h3-info-infos {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: white;
    padding-left: 0.2rem;
}

/* legacy card */
.div-card {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.div-imagem-card {
    background-color: var(--purple);
    width: 20rem;
    height: 17rem;
    position: relative;
    float: top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.div-rodape-card {
    height: 5rem;
    width: 20rem;
    display: flex;
}

.botão-play {
    background-color: transparent;
    border: 0;
    position: relative;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    cursor: pointer;
}

.play-icon {
    width: 4.2rem;
    height: 4.2rem;
}

.titulo-card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 0.7rem;
    margin-left: 0.9rem;
}

.genero-card{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 0.2rem;
    margin-left: 0.9rem;
}

.genero-card2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 0.1.9rem;
    margin-left: 0.2rem;
}
