*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
}
.logo{
    width: 10rem;
}
header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 63.75rem;
    top: 28px;
    left: 56px;
}
header a{
    display: inline-block;
    background-color: #3E1FCA;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}
.main{
    height: 49.063rem;
    background: url(../img/bg.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.mainInterna{
    z-index: 1;
    display: grid;
    margin-top: -105px;
    justify-items: center;
}
.main h1{
    font-size: 64px;
    max-width: 510px;
    
}
.main span{
    font-size: 26px;
}
form{
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.inputEmail{
    padding: 20px 10px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
}
form button{
    background-color: #3E1FCA;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
form button:hover{
    background-color: #3414c5;
}
.main p{
    font-size: 19px;
}

.gradient{
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top, rgba(0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.8) 100%
        );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 78450px){
    header {
        max-width: 59.75rem;
    }

    
}
@media only screen and (max-width: 910px){
    header {
        max-width: 32.75rem;
    }
    .logo{
        width: 6rem;
    }
    .main h1{
        font-size: 40px;
        max-width: 300px;
        
    }
    .main span{
        font-size: 24.5px;
    }
    .main p{
        font-size: 16px;
    }

    form{
        display: grid;
        grid-template-columns: 300px 125px;

    }
    form button{
        font-size: 20px;
    }
    .inputEmail{
        padding: 20px 10px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px){
    header {
        max-width: 20.75rem;
    }
    .logo{
        width: 7rem;
    }

    .main h1{
        font-size: 32px;
        max-width: 255px;
        
    }
    .main span{
        font-size: 24.5px;
    }
    .main p{
        font-size: 16px;
    }
    form{
        display: grid;
        grid-template-columns: 200px 100px;
    }
    form button{
        font-size: 20px;
    }
    .inputEmail{
        padding: 20px 10px;
        font-size: 20px;

    }
}
