
.div-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.campo-login {
    background-color: var(--gray-line);
    border: 0;
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
}

.campo-login::placeholder {
    padding-left: 1rem;
}

.campo-login-invalido {
    background-color: var(--gray-line);
    border: 0.1px;
    border-style: solid;
    border-color: red;
    width: 30rem;
    height: 4rem;
    border-radius: 10px;
}

.campo-cadastro-login::placeholder {
    padding-left: 1rem;
}
