* {
    color: white;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 1rem;
    

}
input{
    color: black;

}

.btn-primary{
    background-color: var(--purple);
    color: var(--gray-line);
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    width: 100%;
}
.btn-primary:hover{
    background-color: rgb(45, 28, 145);
    color: var(--gray-line);
    transition: .4s;
}


.verificaInvalido{

    border: 1px solid #ff0000;

}

table{ 
    margin-top: 70px;
    border-spacing: 0.9rem;
}
@media screen and (min-width:280px) {
    .labelCadastro{
        width: 11rem;
        margin-top: .8rem;
    }
    .verifica{
        width: 45%;
    }
}
@media screen and (min-width:480px) {
    .labelCadastro{
        width: 18rem;
        margin-top: .8rem;
    }
    .verifica{
        width: 30%;
    }
}
@media screen and (min-width:800px) {
    .labelCadastro{
        width: 19rem;
        margin-top: .8rem;
    }
    .verifica{
        width: 30%;
    }
}
