* {
    color: white;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 1rem;
    

}
input{
    color: black;
    
}

.btn-primary{
    background-color: var(--purple);
    color: var(--gray-line);
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
 
}
.btn-primary:hover{
    background-color: rgb(45, 28, 145);
    color: var(--gray-line);
    transition: .4s;
}

.verificaCartao{
    background-color: var(--gray-line);
    border: 0;
    width: 4.75rem;
    height: 3rem;
    border-radius: 10px;
    padding-left: 10px;
}
.verificaInvalido{
    background-color: var(--gray-line);
    border: 0;
    width: 4.75rem;
    height: 3rem;
    border: 1px solid #ff0000;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 19px;
}

table{
    border-spacing: 0.9rem;
}
#divCamposCartao{
    display: flex;
    justify-content: center;
}